.container{
    padding-top: 3rem;
}

.row{
    margin-bottom: 1.5rem;
}

.btn,
.btn:disabled:hover{
    background-color: #009688;
    border-color: #009688;
    margin-left: 2rem;
}

.btn:hover{
    background-color: #00796b;
    border-color: #00796b;
}



.form-control:focus{
    border-color: #009688;
}

i{
    padding-right: .5rem;
}

p{
    color: lightgrey;
    text-align: center;

}